// Styles for all of the user pages:
// Login, Signup, Support

page-user {
  .login-buttons {
    button {
      max-width: 170px;
    }
  }
  .toolbar-title {
    text-align: left;
  }
  ion-title {
    padding-left: 0;
  }
  .item-inner {
    border-width: 1px;
  }
}
