@import '../../theme/variables.scss';

product-card {
  .content {
    h2 {
      font-weight: 400;
      font-size: 2rem;
      font-style: 'mono';
      color: color($colors, primary);
    }
    p {
      color: #828282;
      font-weight: 200;
      font-size: 1.5rem;
    }
  }
  .footer {
    font-size: 2rem;
    color: color($colors, primary);
    .add {
      height: 35px;
      padding-left: 30px;
      padding-right: 30px;
    }
    .button-group {
      display: flex;
      ion-icon {
        color: white;
      }
      button {
        height: 35px;
        padding: 0 10px !important;
        margin: 0;
        // font-size: 1.6rem;
      }
    }
  }
}
