<ion-header class="heading">
  <!-- <ion-grid>
    <ion-row>
      <ion-col col-12 col-sm-6 col-md-3 col-lg-2 col-xl-1>
          <ion-navbar color="primary">
              <ion-title color="white">Back</ion-title>
            </ion-navbar>
      </ion-col>
    </ion-row>

  </ion-grid> -->
      <button block no-margin ion-button icon-left color="primary" (click)="onBack()"><ion-icon name="arrow-back"></ion-icon>&nbsp; Back</button>

  </ion-header>

<ion-content padding #scrollArea>
  <ion-grid no-padding>
    <!-- <ion-row justify-content-center>
        <div class="checkout">
            <button large ion-button icon-left block (click)="checkout()">
                <ion-icon name="ios-cash-outline"></ion-icon>&nbsp;
                  BOOK ORDER
              </button>
          </div>
    </ion-row> -->
    <ion-row align-items-start justify-content-around>
      <ion-col col-sm-12 col-md-6 col-lg-5 col-xl-4>
        <ion-card no-margin class="cart-card">
          <ion-card-header>
            <ion-icon name="cart"></ion-icon> Cart
          </ion-card-header>

        <ion-list>
            <ion-item *ngFor="let item of list;let i=index;">
              <ion-thumbnail item-left (click)="showItemInfo(item,i)">
                <img [src]="item.product.image">
              </ion-thumbnail>
              <h2 class="item-name">{{item.product.name}} </h2>
              <br>
              <!-- <p *ngIf="item.maxRetPrice - item.storePrice"  color="primary">You Save {{item.maxRetPrice - item.storePrice}} </p> -->
              <h4 class="price">Price &nbsp; ₹{{ item.product.price }}
                  <!-- <s class="price-old">{{item.maxRetPrice}} </s> -->
              </h4>
              <h4 class="price">Quantity &nbsp; {{ item.quantity }}
                  <!-- <s class="price-old">{{item.maxRetPrice}} </s> -->
              </h4>
              <div item-right class="quantity">
                  <h4 class="total-price">Total &nbsp; ₹ {{ item.price }}</h4>
                  <!-- <button ion-button icon-only clear medium (click)="decQty(i)"><ion-icon name="remove-circle"></ion-icon></button>
                  <h4 class="item-quantity">{{item.quantity}} </h4>
                  <button ion-button icon-only clear medium (click)="incQty(i)"><ion-icon name="add-circle"></ion-icon></button> -->
                </div>
              <!-- <div class="total-price">
                <h4>Total &nbsp; ₹ {{ item.price }}</h4>
              </div> -->
              <!--<button ion-button clear item-right>View</button>-->
            </ion-item>

        </ion-list>
        </ion-card>
      </ion-col>
      <ion-col col-sm-12 col-md-5 col-lg-7 col-xl-7>
        <ion-row>
          <ion-col col-sm-12 col-md-12 col-lg-8 col-xl-8>
              <ion-card class="card-address">
                  <ion-card-header>
                    Delivery Address
                    <button color="secondary" round ion-button icon-left (click)="addAddress()">
                        <ion-icon name="add"></ion-icon>
                          Add
                      </button>
                  </ion-card-header>
                  <!-- <ion-scroll scrollY="true"> -->
                      <ion-list radio-group>
                          <ion-item *ngFor="let address of addresses" class="address">
                            <div item-right>
                                <h2>Santwissen Technology Pvt. Ltd.</h2>
                                <h2>AECS layout, near kundhnalli signal, Marathahalli</h2>
                                <h2>Banglore, 8146088621</h2>
                            </div>
                            <ion-radio item-left [checked]="address.default" [value]="address.id"></ion-radio>
                          </ion-item>
                        </ion-list>
                  <!-- </ion-scroll> -->

                </ion-card>
          </ion-col>
          <ion-col col-sm-12 col-md-12 col-lg-4 col-xl-4>
              <ion-card class="cart-card">
                  <ion-card-header>
                      Payment method
                  </ion-card-header>
                  <ion-list radio-group>
                      <ion-item>
                        <ion-radio checked="true" value="cod"></ion-radio>
                        <ion-label>Cash on Delivery</ion-label>
                      </ion-item>
                    </ion-list>
                </ion-card>
          </ion-col>
          <button large ion-button icon-left block (click)="checkout()">
          <ion-icon name="ios-cash-outline"></ion-icon>&nbsp;
            BOOK ORDER
        </button>
        </ion-row>





      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer [hidden]="!totalQuantity" class="hide-md hide-xl hide-lg footer">
  <ion-toolbar>
      <button ion-item text-center color="primary" (click)="checkout()"><ion-icon name="cart"></ion-icon>&nbsp;&nbsp; Checkout</button>
  </ion-toolbar>
</ion-footer>
